@using System.Text.Json
@using WebEnterprise.Models.Entities
﻿@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Http
@inject SignInManager<User> SignInManager
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@{
    var session = HttpContextAccessor.HttpContext.Session;
    var userName = session.GetString("UserName");
}


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MVCApp</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>

<body>
    <style>
        a {
            cursor: pointer;
        }
    </style>
    <header>
        <div class="container">
            <nav class="navbar navbar-expand-sm" style="justify-content: space-between; padding: 30px 0">
                <div class="navbar-nav">
                    <a class="navbar-brand" href="#">
                        <img src="~/images/logo-2x.png" alt="Avatar Logo" style="width:100px;">
                    </a>
                    <div class="search-input d-flex">
                        <input type="text" class="form-control" placeholder="Search">
                        <button class="btn btn-primary" type="button">Search</button>
                    </div>
                </div>
                <ul class="navbar-nav flex-row mr-auto">
                    <li class="nav-item link">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                    </li>
                    <li class="nav-item link">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Privacy</a>
                    </li>
                    <li class="nav-item link">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Guide</a>
                    </li>
                </ul>
                <ul class="navbar-nav flex-row mr-auto">
                    @if (!SignInManager.IsSignedIn(User))
                    {
                        <li class="nav-item link">
                            <a class="fs-5 text-primary text-hover" asp-area="" asp-controller="Authentication"
                                asp-action="Login">Login</a>
                        </li>
                        <li class="nav-item link">
                            <a class="fs-5 text-primary text-hover" asp-area="Admin" asp-controller="Account"
                                asp-action="CreateAccount">Register</a>
                        </li>
                    }
                    else
                    {

                        <div class="dropdown-container">
                            <div class="p-3 rounded-2 d-flex align-items-center gap-3 rotate-icon">
                                <i class="fa-solid fa-circle-user"></i>
                                <span>@userName</span>
                                <i class="fa-solid fa-chevron-down my-icon"></i>
                            </div>
                            <div class="dropdown-list w-50 shadow-lg drop-list">
                                <a class="hover-item" asp-action="Logout" asp-controller="Authentication">
                                    <div class="px-2 py-3 d-flex align-items-center justify-content-start gap-2">
                                        <div class="p-2 bg-gray change-item rounded-2">
                                            <i class="fa-solid fa-user change-icon"></i>
                                        </div>
                                        <span class="change-text">Your profile</span>
                                    </div>
                                </a>
                                <a class="hover-item" asp-action="GetContributionStudent" asp-controller="Contribution">
                                    <div class="px-2 py-3 d-flex align-items-center justify-content-start gap-2">
                                        <div class="p-2 bg-gray change-item rounded-2">
                                            <i class="fa-solid fa-list change-icon"></i>
                                        </div>
                                        <span class="change-text">Your contribution</span>
                                    </div>
                                </a>
                                <a class="hover-item" asp-action="Logout" asp-controller="Authentication">
                                    <div class="px-2 py-3 d-flex align-items-center justify-content-start gap-2">
                                        <div class="p-2 bg-gray change-item rounded-2">
                                            <i class="fa-solid fa-arrow-right-from-bracket change-icon"></i>
                                        </div>
                                        <span class="change-text">Log out</span>
                                    </div>
                                </a>
                            </div>
                        </div>
                    }

                </ul>
            </nav>

        </div>
    </header>


    @RenderBody()


    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - MVCApp - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await Component.InvokeAsync("Notyf")
    @RenderSection("Scripts", required: false)
</body>

</html>
