@model IEnumerable<WebEnterprise.ViewModels.Megazine.GetMegazineModel>

@{
    ViewData["Title"] = "Index";
    Layout = "_Layout";
}

<div class="post-header forums-header">
    <div class="col-md-6 col-sm-6 support-info">
        <span>University Blog</span>
    </div>
    <div class="col-md-6 col-sm-6 support-category-menus">
        <ul class="forum-titles">
            <li class="forum-topic-count">Topic</li>
            <li class="forum-reply-count">Faculty</li>
            <li class="forum-freshness">Created Date</li>
        </ul>
    </div>
</div>
