@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model WebEnterprise.ViewModels.RegisterModel

@{
    ViewData["Title"] = "Falcuty Dashboard";
    Layout = "../../Views/Shared/_Layout.cshtml";
}

<div class="card-header bg-secondary bg-gradient ml-0 py-3" style="margin-top: 20px;>
    <div class="row">
        <div class="col-12 text-center">
            <h2 class="text-white py-2">Create New Account</h2>
        </div>
    </div>
</div>
<div class="col-9 grid-margin stretch-card" style="margin: 50px auto;">
    <div class="card">
        <div class="card-body">
            <form method="post" class="row" asp-area="Admin" asp-controller="Account" asp-action="Create">
                <div class="row" style="color:red">
                    @if (TempData["msg"] != null)
                    {
                        string alertType = "alert alert-" + TempData["alertType"];
                        <div class="@alertType">
                            <strong>Alert!</strong> @TempData["msg"]
                        </div>
                    }
                </div>
                <div class="d-flex align-items-center mb-3 pb-1">
                    <i class="fas fa-cubes fa-2x me-3" style="color: #ff6219;"></i>
                    <span style="width: 100%;text-align: center;"
                          class="h1 fw-bold mb-0">Account Information Filling Form</span>
                </div>


                <div class="form-floating mb-3 col-md-12">
                    <input asp-for="Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                    <label asp-for="Email" class="ms-2">Email</label>
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>

                <div class="form-floating mb-3 col-md-6">
                    <input asp-for="FullName" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                    <label asp-for="FullName" class="ms-2">Full Name</label>
                    <span asp-validation-for="FullName" class="text-danger"></span>
                </div>


                <div class="form-floating mb-3 col-md-6">
                    <input asp-for="PhoneNumber" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                    <label asp-for="PhoneNumber" class="ms-2">Phone Number</label>
                    <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                </div>

                <div class="form-floating mb-3 col-md-6">
                    <input type="password" asp-for="Password" id="password" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password" />
                    <label asp-for="Password" class="ms-2">Password</label>
                    <span toggle="#password" class="fa fa-fw fa-eye field-icon toggle-password"></span>
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>

                @*  <div class="form-outline mb-4 custom-margin-right">
                <input type="password" id="password" class="form-control form-control-lg rounded-input"
                asp-for="Password" placeholder="Password" />
                <label for="password" class="rounded-input-label">Password</label>
                <span toggle="#password" class="fa fa-fw fa-eye field-icon toggle-password"></span>
                <span asp-validation-for="Password" class="text-danger"></span>
                </div> *@

                <div class="form-floating mb-3 col-md-6">
                    <input type="password" asp-for="ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password" />
                    <label asp-for="ConfirmPassword" class="ms-2">Re-password</label>
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>


                <div class="form-floating mb-3 col-md-6">

                    <select id="roleDropdown" name="Role" asp-for="Role" class="form-control">
                        <option value="">-- Select Role --</option>
                        <option value="Student">Student</option>
                        <option value="Coordinator">Coordinator</option>
                        <option value="Manager">Manager</option>
                    </select>
                    <label class="form-label ms-2" for="roleDropdown" asp-for="Role">Role</label>
                    <span asp-validation-for="Role" class="text-danger"></span>
                </div>
                <div class="form-floating mb-3 col-md-6">
                    <select id="facultyDropdown" name="FacultyId" asp-for="FacultyId" asp-items="(SelectList)ViewBag.FacultyList" class="form-control">
                        <option value="">-- Select Faculty --</option>
                    </select>
                    <label class="form-label ms-2" for="facultyDropdown" asp-for="FacultyId">Faculty</label>
                    <span asp-validation-for="FacultyId" class="text-danger"></span>
                </div>



                <div class="row mt-3">
                    <div class="col-6 col-md-3">
                        <button type="submit" class="btn btn-primary form-control">Submit</button>
                    </div>
                    <div class="col-6 col-md-3">
                        <a asp-controller="Account" asp-action="Index" class="btn btn-secondary border  form-control">
                            Back to List
                        </a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
