@*

*@
@{
    ViewData["Title"] = "Account Dashboard";
    Layout = "../../Views/Shared/_Layout.cshtml";
}


<div class="mt-5 mx-5">
    <h1 class="bg-info text-danger">Coordirator Home Page</h1>

</div>
