﻿<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Assignment</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="~/css/site.css" asp-append-version="true" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>

<body>

    @RenderBody()

    <section class="footer">
        <!-- Footer -->
        <footer class="text-center text-white" style="background-color: #0a4275;">
            <!-- Grid container -->
            <div class="container p-4 pb-0">
                <!-- Section: CTA -->
                <section class="">
                    <div class="d-flex justify-content-center align-items-center">
                        <p class="d-flex align-items-center">
                            <span class="footer-me">Well come to</span>
                        </p>
                        <form style="padding-bottom: 15px;" asp-area="" asp-controller="Authentication"
                            asp-action="Login">
                            <button data-mdb-ripple-init type="submit" class="btn btn-outline-light btn-rounded">
                                Sign in
                            </button>
                        </form>
                        <form style="padding-bottom: 15px;" asp-area="" asp-controller="Home" asp-action="Index">
                            <button data-mdb-ripple-init type="submit" class="btn btn-outline-light btn-rounded">
                                Home
                            </button>
                        </form>
                        <p class="d-flex align-items-center">
                            <span class="footer-me">© 2024 Copyright: Miracle</span>
                        </p>
                    </div>
                </section>
                <!-- Section: CTA -->
            </div>
            <!-- Grid container -->
        </footer>
        <!-- Footer -->
    </section>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await Component.InvokeAsync("Notyf")
    @RenderSection("Scripts", required: false)
</body>

</html>